.bestSeller{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

@media (min-width: 600px) {
    .bestSeller{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        place-self: center;
    }
    
}
@media (min-width:850px) {
    .bestSeller{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        place-self: center;
    }
}

@media (min-width:1200px) {
    .bestSeller{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        place-self: center;
    }
}