.ads {
    background: #0E1422;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    gap: 3px;
    p{
        font-size: 14px;
        line-height: 24.5;
    }
    
}

.order_button{
    background: transparent;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}