.feature_wrapper{
    margin-top: 88px;
    width: 100%;
    .feature{
        width: 100%;
        height: 218px;
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: center;

        // h3, p{
        //     text-align: center;
        // }
        h3{
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
           
        }
        p{
           
            font-size: 14px;
            line-height: 24px;
        }
        .img_wrapper{
            width: 48px;
            height: 48px;
            background: #f6f6f6;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            
        }
    }
}

@media (min-width: 768px){
    .feature_wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 64px;
        .feature{
        width: 328px;
        height: 218px;
        display: flex;
        gap: 24px;
        flex-direction: column;
        align-items: start;
        }
        h3, p{
            text-align: start;
        }
    }
    
}