@mixin flex_items{
    display: flex;
    align-items: center;
};

.search_wrapper{
    @include flex_items();
    height: 45px;
    width: 264px;
    padding: 0 4px;
    background-color: transparent;
    border: 1px solid #e6e7e8;
    border-radius: 10px;
    gap: 10px;
    input{
        padding: 4px 5px;
        border: none;
        outline: none;
        &:focus{
            outline:10px ;
            outline: 1px solid plum;
        }
    }
}